<form>
<select name="select" onChange="MM_jumpMenu('parent',this,0)">
<option selected>Select...
<option>--------------------
<option value="advent2009.html">Phoebe &amp; Nathan's Advent 2009
<option value="advent2008.html">Phoebe &amp; Nathan's Advent 2008
<option value="advent2007.html">Phoebe &amp; Nathan's Advent 2007
<option value="advent2006.html">Phoebe &amp; Nathan's Advent 2006
<option value="advent2005.html">Phoebe &amp; Nathan's Advent 2005
<option value="advent2004.html">Phoebe &amp; Nathan's Advent 2004
<option value="advent2003.html">Phoebe &amp; Nathan's Advent 2003
<option value="advent2002.html">Phoebe's Advent 2002
<option value="phoebeistwo.html">Phoebe is Two
<option value="first99.html">Going Going Gone
<option value="outtakes.html">Christmas Card 2001 Outtakes
<option value="advent2001.html">Phoebe's Advent 2001
<option value="advent2000.html">Phoebe's Advent 2000
</select>
</form>
